$background: #E6E8E3
$links: #138DD0

$language: #D8DAD5
$language_hover: #666666

$filteractive_top: #363A3E
$filteractive_bottom: #141618

$addpet_top: #FF0033
$addpet_bottom: #BA0026
$addpet_border: #A20021

$petlistitem: #D0D2CE
$petlistitem_border: #C4C5C1
$petlistitem_link: #138DD0
$petlistitem_textcolor: #333333
$petlistitem_label: rgba(153, 153, 153, 0.7)
$petlistitem_urgent_top: #363A3E
$petlistitem_urgent_bottom: #141618
$petlistitem_urgent_textcolor: white
$petlistitem_urgent_label: rgba(255, 255, 255, 0.2)
$petlistitem_sublist_textcolor: rgba(51, 51, 51, 0.7)
$petlistitem_urgent_sublist_textcolor: rgba(255, 255, 255, 0.7)
$petlistitem_knowit_top: #1692D5
$petlistitem_knowit_bottom: #0D71AA

$petitem: #D0D2CE
$petitem_border: #C4C5C1
$petitem_link: #138DD0
$petitem_textcolor: #333333
$petitem_label: rgba(153, 153, 153, 0.7)
$petitem_urgent_top: #363A3E
$petitem_urgent_bottom: #141618
$petitem_urgent_textcolor: white
$petitem_urgent_label: rgba(255, 255, 255, 0.2)
$petitem_sublist_textcolor: rgba(51, 51, 51, 0.7)
$petitem_urgent_sublist_textcolor: rgba(255, 255, 255, 0.7)
$petitem_adoptit_top: #1692D5
$petitem_adoptit_bottom: #0D71AA
$petitem_description: #F1F2F0
$petitem_description_text: #666666
$petitem_location: #F9FAF9
$petitem_location_map_border: white

$footer_font: #C5C6C5
$footer_links: #9FA1A0