@import 'pw.vars'
@import 'pw.colors'
@import 'pw.mixins'

//Forms
label
  color: $form_label_font
  font-size: .8em
  margin: 4px 0

input[type=text], input[type=email], input[type=password], textarea, select
  padding: 5px
  @include border-radius(3px)
  border: 1px solid $form_input_border
  background-color: $form_input
  color: $form_input_font
  font-size: 1em

input[type=submit], input[type=button], button
  padding: 7px 15px
  @include gradient($form_button_gradient_top, $form_button_gradient_bottom)
  @include border-radius(3px)
  border: 1px solid $form_button_border
  color: $form_button_font
  font-size: 1.05em
  cursor: pointer

  &:hover
    @include gradient($form_button_gradient_bottom, $form_button_gradient_top)
  &:active
    @include box-shadow(inset 1px 3px 5px rgba(0, 0, 0, 0.5))

.error
  input[type=text], input[type=password], textarea, select
    background-color: #F4E4E8
    border-color: #F42C65
    color: #F42C65
  p
    color: #F42C65

textarea
  padding: .5em
  font-family: inherit

form
  p
    margin: 1em

form
  fieldset
    margin: 0 0 2em
    legend span
      font-size: 1.3em
    ol
      li
        margin: 1em
        label
          display: block
        p
          display: inline
      li.boolean
        label
          display: inline
        p
          margin: 0
      li.date
        fieldset
          margin: 0
          ol
            li
              @include inline-block

  fieldset.character
    @include inline-block

  fieldset.buttons
    margin: 1em 0
    ol
      li
        display: inline

#error_explanation
  margin: 1em
  color: #DC4228
  text-shadow: 0 1px 0 #dff7ff
  h2
    font-size: 1.2em
  ul
    margin: 0 2em
    list-style-type: disc
