@import 'pw.mixins'

#prettyfile_tmp
  display: none

.jcrop-holder
  @include inline-block
  @include decorate_image

#thumbnail
  @include inline-block
  width: 200px
  height: 200px
  overflow: hidden
  margin: 0 2em
  @include decorate_image
