@import 'pw.mixins'
@import 'pw.colors'

#content
  .announcement
    border-bottom: 1px solid rgba(55,55,55,0.4)
    padding: 1.5em 0
    p
      font-size: 1.95em
      line-height: 1.2em
      text-shadow: 0 1px 1px white
      text-align: center

  ul.filters
    text-align: center
    margin: 1.5em auto
    @include inline-block
    width: 100%
    li
      display: inline
      text-align: center
      position: relative
      .arrow
        display: none
        @include css-sprite(-250px, 0, 24px, 12px)
        position: absolute
        bottom: -15px
        left: 50%
        margin-left: -12px
      a, a.add_pet
        background-color: rgba(255,255,255,0.5)
        color: #0F7EBD
        @include inline-block
        width: 103px
        height: 34px
        border: 1px solid rgba(204,204,204,0.5)
        text-decoration: none
        line-height: 34px
      a.add_pet
        @include gradient($addpet_top, $addpet_bottom)
        border: 1px solid $addpet_border
        padding: 0 .5em
        color: white
        text-shadow: 0 1px 1px rgba(0,0,0, 0.5)
        text-align: center
        vertical-align: middle
    li.active
      a
        @include gradient($filteractive_top, $filteractive_bottom)
        color: white
        border: 0 none
      .arrow
        display: block

  ul.pets
    margin-top: 1em
    text-align: left
    li.pet
      position: relative
      width: 868px
      margin: 0 auto 4em
      padding: 10px
      background-color: $petlistitem
      border: 1px solid $petlistitem_border
      color: #124462
      font-size: .8em
      text-decoration: none
      .border_left, .border_right
        position: absolute
        @include css-sprite(-477px, 0, 1px, 200px)
        bottom: -1px
      .border_left
        left: -2px
      .border_right
        left: 889px
      .border_bottom
        position: absolute
        background-color: white
        width: 892px
        height: 1px
        left: -2px
        bottom: -2px

      .urgent
        display: none
        @include css-sprite(0px, -82px, 85px, 84px)
        position: absolute
        top: -8px
        right: -8px
      .photos
        float: left
        position: relative
        height: 395px
        width: 578px
        overflow: hidden
        img.photo
          display: none
          height: 395px
          width: 578px
          position: absolute
          top: 0
          left: 0
        img.photo.active
          display: inline
        a.view_next
          display: none
          position: absolute
          left: 437px
          top: 328px
          background-color: rgba(0,0,0, 0.65)
          @include border-radius(3px)
          color: white
          width: 112px
          height: 30px
          font-size: 1.1em
          text-decoration: none
          line-height: 30px
          text-align: center
          vertical-align: middle
          text-transform: lowercase
          .arrow
            @include inline-block
            @include css-sprite(-429px, 0, 12px, 8px)
            vertical-align: middle
        a.view_next:hover
          background-color: rgba(0,0,0, 0.85)
        a.view_next:active
          background-color: rgba(0,0,0, 0.45)
      .photo_arrow
        @include css-sprite(-85px, -82px, 36px, 35px)
        position: absolute
        top: 38px
        left: 571px
      ul.data
        background: url("/images/tiles/petlist_item.png") repeat scroll 0 0 transparent
        float: left
        margin: 0
        height: 395px
        width: 290px
        li
          margin: .7em 2em
          color: $petlistitem_sublist_textcolor
          max-width: 235px
          span
            line-height: 1.3em
            font-size: 1.2em
          span.label
            color: $petlistitem_label
          span.name
            font-size: 1.8em
          span.name, span.animal_sex, span.age
            color: $petlistitem_textcolor
          span.animal_sex, span.age
            font-size: 1em
          a
            color: $petlistitem_link
        li.name
          margin: 1em 2em
        li.character ul
          margin: 0
          list-style-type: disc
          list-style-position: inside
          li
            margin: 0
        li.know_it
          position: absolute
          top: 319px
          a
            display: block
            @include gradient($petlistitem_knowit_top, $petlistitem_knowit_bottom)
            @include border-radius(4px)
            color: white
            width: 232px
            height: 46px
            font-size: 1.7em
            text-decoration: none
            text-align: center
            line-height: 46px
          a:hover
            @include gradient($petlistitem_knowit_bottom, $petlistitem_knowit_top)
    li.pet.urgent
      .urgent
        display: block
      .photo_arrow
        @include css-sprite(-441px, 0, 36px, 35px)
      ul.data
        @include gradient($petlistitem_urgent_top, $petlistitem_urgent_bottom)
        li
          color: $petlistitem_urgent_sublist_textcolor
          span.label
            color: $petlistitem_urgent_label
          span.name
            color: $petlistitem_urgent_textcolor
          span.name, span.animal_sex, span.age
            color: $petlistitem_urgent_textcolor

    li.pet:after
      clear: both
      content: "."
      display: block
      height: 0
      visibility: hidden
      font-size: 0

    li.loading
      display: none
      text-align: center
      padding: 25px 0
  .pagination
    a, em, span
      margin: 0 .2em

span.order
  color: #FF8420
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 0 0 white, 0 2px 0 white, -2px 0 0 white, 0 -2px 0 white, 3px 3px 2px black