@charset "UTF-8";
/* Original CSS3 Buttons by Ale Muñoz (http://dribbble.com/players/bomberstudios)
 * http://dribbble.com/shots/39551
 * Adapted to Sass by Fernando Espinosa (http://ferdev.com) */
a.button {
  outline: none; }

a.button,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 5px 15px 6px;
  margin: 0 auto;
  display: inline-block;
  border: none;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  background: #888888;
  background-image: -moz-linear-gradient(top, #888888, #444444);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #888888), color-stop(1, #444444));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
  -webkit-box-shadow: inset 0 1px 0 rgba(34, 57, 100, 0.6), inset 1px 0 0 rgba(34, 57, 100, 0.4), inset -1px 0 0 rgba(34, 57, 100, 0.5), inset 0 -1px 0 rgba(34, 57, 100, 0.6), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 0 4px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: inset 0 1px 0 rgba(34, 57, 100, 0.6), inset 1px 0 0 rgba(34, 57, 100, 0.4), inset -1px 0 0 rgba(34, 57, 100, 0.5), inset 0 -1px 0 rgba(34, 57, 100, 0.6), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 0 4px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29);
  box-shadow: inset 0 1px 0 rgba(34, 57, 100, 0.6), inset 1px 0 0 rgba(34, 57, 100, 0.4), inset -1px 0 0 rgba(34, 57, 100, 0.5), inset 0 -1px 0 rgba(34, 57, 100, 0.6), inset 0 2px 0 rgba(255, 255, 255, 0.3), inset 0 0 4px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.29); }

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
a.button:hover,
a.button.hover {
  background: #0073d2;
  background-image: -moz-linear-gradient(top, #999999, #444444);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999999), color-stop(1, #444444));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }

button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
a.button:active,
a.button.active,
button.active,
input[type=button].active,
input[type=submit].active,
input[type=reset].active {
  padding: 6px 15px 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5), inset 1px 0 0 rgba(10, 10, 10, 0.3), inset -1px 0 0 rgba(10, 10, 10, 0.4), inset 0 -1px 0 rgba(10, 10, 10, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5), inset 1px 0 0 rgba(10, 10, 10, 0.3), inset -1px 0 0 rgba(10, 10, 10, 0.4), inset 0 -1px 0 rgba(10, 10, 10, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5), inset 1px 0 0 rgba(10, 10, 10, 0.3), inset -1px 0 0 rgba(10, 10, 10, 0.4), inset 0 -1px 0 rgba(10, 10, 10, 0.5), inset 0 1px 5px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3); }

button:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
a.button:disabled,
a.button.disabled {
  cursor: default;
  padding: 4px 14px 5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  text-shadow: none;
  background: rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 -5px 5px rgba(40, 40, 40, 0.1);
  -webkit-box-shadow: inset 0 -5px 5px rgba(40, 40, 40, 0.1);
  box-shadow: inset 0 -5px 5px rgba(40, 40, 40, 0.1); }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; }
