#sign_in {
  vertical-align: middle; }

#forgot {
  font-size: 0.8em;
  margin: 0 5em;
  vertical-align: middle; }

#cancel_account {
  margin: 0 1em; }

#error_explanation {
  margin: 1em;
  color: #dc4228;
  text-shadow: 0 1px 0 #dff7ff; }
  #error_explanation h2 {
    font-size: 1.2em; }
  #error_explanation ul {
    margin: 0 2em;
    list-style-type: disc; }
