label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  margin: 4px 0; }

input[type=text], input[type=email], input[type=password], textarea, select {
  padding: 5px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  background-color: white;
  color: #666666;
  font-size: 1em; }

input[type=submit], input[type=button], button {
  padding: 7px 15px;
  background-image: -moz-linear-gradient(top, white, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #cccccc));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  color: #333333;
  font-size: 1.05em;
  cursor: pointer; }
  input[type=submit]:hover, input[type=button]:hover, button:hover {
    background-image: -moz-linear-gradient(top, #cccccc, white);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, white));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
  input[type=submit]:active, input[type=button]:active, button:active {
    -moz-box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.5); }

.error input[type=text], .error input[type=password], .error textarea, .error select {
  background-color: #f4e4e8;
  border-color: #f42c65;
  color: #f42c65; }
.error p {
  color: #f42c65; }

textarea {
  padding: 0.5em;
  font-family: inherit; }

form p {
  margin: 1em; }

form fieldset {
  margin: 0 0 2em; }
  form fieldset legend span {
    font-size: 1.3em; }
  form fieldset ol li {
    margin: 1em; }
    form fieldset ol li label {
      display: block; }
    form fieldset ol li p {
      display: inline; }
  form fieldset ol li.boolean label {
    display: inline; }
  form fieldset ol li.boolean p {
    margin: 0; }
  form fieldset ol li.date fieldset {
    margin: 0; }
    form fieldset ol li.date fieldset ol li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline; }
form fieldset.character {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline; }
form fieldset.buttons {
  margin: 1em 0; }
  form fieldset.buttons ol li {
    display: inline; }

#error_explanation {
  margin: 1em;
  color: #dc4228;
  text-shadow: 0 1px 0 #dff7ff; }
  #error_explanation h2 {
    font-size: 1.2em; }
  #error_explanation ul {
    margin: 0 2em;
    list-style-type: disc; }
