#content .announcement {
  border-bottom: 1px solid rgba(55, 55, 55, 0.4);
  padding: 1.5em 0; }
  #content .announcement p {
    font-size: 1.95em;
    line-height: 1.2em;
    text-shadow: 0 1px 1px white;
    text-align: center; }
#content ul.filters {
  text-align: center;
  margin: 1.5em auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 100%; }
  #content ul.filters li {
    display: inline;
    text-align: center;
    position: relative; }
    #content ul.filters li .arrow {
      display: none;
      background-color: transparent;
      background-image: url("/images/sprites/css.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: -250px 0;
      width: 24px;
      height: 12px;
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -12px; }
    #content ul.filters li a, #content ul.filters li a.add_pet {
      background-color: rgba(255, 255, 255, 0.5);
      color: #0f7ebd;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      *display: inline;
      width: 103px;
      height: 34px;
      border: 1px solid rgba(204, 204, 204, 0.5);
      text-decoration: none;
      line-height: 34px; }
    #content ul.filters li a.add_pet {
      background-image: -moz-linear-gradient(top, #ff0033, #ba0026);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff0033), color-stop(1, #ba0026));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
      border: 1px solid #a20021;
      padding: 0 0.5em;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      text-align: center;
      vertical-align: middle; }
  #content ul.filters li.active a {
    background-image: -moz-linear-gradient(top, #363a3e, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #363a3e), color-stop(1, #141618));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
    color: white;
    border: 0 none; }
  #content ul.filters li.active .arrow {
    display: block; }
#content ul.pets {
  margin-top: 1em;
  text-align: left; }
  #content ul.pets li.pet {
    position: relative;
    width: 868px;
    margin: 0 auto 4em;
    padding: 10px;
    background-color: #d0d2ce;
    border: 1px solid #c4c5c1;
    color: #124462;
    font-size: 0.8em;
    text-decoration: none; }
    #content ul.pets li.pet .border_left, #content ul.pets li.pet .border_right {
      position: absolute;
      background-color: transparent;
      background-image: url("/images/sprites/css.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: -477px 0;
      width: 1px;
      height: 200px;
      bottom: -1px; }
    #content ul.pets li.pet .border_left {
      left: -2px; }
    #content ul.pets li.pet .border_right {
      left: 889px; }
    #content ul.pets li.pet .border_bottom {
      position: absolute;
      background-color: white;
      width: 892px;
      height: 1px;
      left: -2px;
      bottom: -2px; }
    #content ul.pets li.pet .urgent {
      display: none;
      background-color: transparent;
      background-image: url("/images/sprites/css.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: 0px -82px;
      width: 85px;
      height: 84px;
      position: absolute;
      top: -8px;
      right: -8px; }
    #content ul.pets li.pet img {
      float: left;
      height: 395px;
      width: 578px; }
    #content ul.pets li.pet a.view_next {
      display: block;
      position: absolute;
      left: 437px;
      top: 339px;
      background-color: rgba(0, 0, 0, 0.65);
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: white;
      width: 112px;
      height: 30px;
      font-size: 1.1em;
      text-decoration: none;
      line-height: 30px;
      text-align: center;
      vertical-align: middle;
      text-transform: lowercase; }
      #content ul.pets li.pet a.view_next .arrow {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
        background-color: transparent;
        background-image: url("/images/sprites/css.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: -429px 0;
        width: 12px;
        height: 8px;
        vertical-align: middle; }
    #content ul.pets li.pet a.view_next:hover {
      background-color: rgba(0, 0, 0, 0.85); }
    #content ul.pets li.pet .photo_arrow {
      background-color: transparent;
      background-image: url("/images/sprites/css.png");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: -85px -82px;
      width: 36px;
      height: 35px;
      position: absolute;
      top: 38px;
      left: 570px; }
    #content ul.pets li.pet ul.data {
      background: url("/images/tiles/petlist_item.png") repeat scroll 0 0 transparent;
      float: left;
      margin: 0;
      height: 395px;
      width: 290px; }
      #content ul.pets li.pet ul.data li {
        margin: 0.7em 2em;
        color: rgba(51, 51, 51, 0.7);
        max-width: 235px; }
        #content ul.pets li.pet ul.data li span {
          line-height: 1.3em;
          font-size: 1.2em; }
        #content ul.pets li.pet ul.data li span.label {
          color: rgba(153, 153, 153, 0.7); }
        #content ul.pets li.pet ul.data li span.name {
          font-size: 1.8em; }
        #content ul.pets li.pet ul.data li span.name, #content ul.pets li.pet ul.data li span.animal_sex, #content ul.pets li.pet ul.data li span.age {
          color: #333333; }
        #content ul.pets li.pet ul.data li span.animal_sex, #content ul.pets li.pet ul.data li span.age {
          font-size: 1em; }
        #content ul.pets li.pet ul.data li a {
          color: #138dd0; }
      #content ul.pets li.pet ul.data li.name {
        margin: 1em 2em; }
      #content ul.pets li.pet ul.data li.character ul {
        margin: 0;
        list-style-type: disc;
        list-style-position: inside; }
        #content ul.pets li.pet ul.data li.character ul li {
          margin: 0; }
      #content ul.pets li.pet ul.data li.know_it {
        position: absolute;
        top: 319px; }
        #content ul.pets li.pet ul.data li.know_it a {
          display: block;
          background-image: -moz-linear-gradient(top, #1692d5, #0d71aa);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1692d5), color-stop(1, #0d71aa));
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')";
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          color: white;
          width: 232px;
          height: 46px;
          font-size: 1.7em;
          text-decoration: none;
          text-align: center;
          line-height: 46px; }
        #content ul.pets li.pet ul.data li.know_it a:hover {
          background-image: -moz-linear-gradient(top, #0d71aa, #1692d5);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0d71aa), color-stop(1, #1692d5));
          filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
  #content ul.pets li.pet.urgent .urgent {
    display: block; }
  #content ul.pets li.pet.urgent .photo_arrow {
    background-color: transparent;
    background-image: url("/images/sprites/css.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -441px 0;
    width: 36px;
    height: 35px; }
  #content ul.pets li.pet.urgent ul.data {
    background-image: -moz-linear-gradient(top, #363a3e, #141618);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #363a3e), color-stop(1, #141618));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='$top_color', EndColorStr='$bottom_color')"; }
    #content ul.pets li.pet.urgent ul.data li {
      color: rgba(255, 255, 255, 0.7); }
      #content ul.pets li.pet.urgent ul.data li span.label {
        color: rgba(255, 255, 255, 0.2); }
      #content ul.pets li.pet.urgent ul.data li span.name {
        color: white; }
      #content ul.pets li.pet.urgent ul.data li span.name, #content ul.pets li.pet.urgent ul.data li span.animal_sex, #content ul.pets li.pet.urgent ul.data li span.age {
        color: white; }
  #content ul.pets li.pet:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0; }
  #content ul.pets li.loading {
    display: none;
    text-align: center;
    padding: 25px 0; }
#content .pagination a, #content .pagination em, #content .pagination span {
  margin: 0 0.2em; }

span.order {
  color: #ff8420;
  text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 0 0 white, 0 2px 0 white, -2px 0 0 white, 0 -2px 0 white, 3px 3px 2px black; }
