ul.photos {
  margin: 2em 0; }
  ul.photos li {
    text-align: center;
    width: 200px; }
    ul.photos li a {
      display: block; }
    ul.photos li a.delete {
      display: inline; }
    ul.photos li img {
      -moz-box-shadow: 0px 0px 2px black;
      -webkit-box-shadow: 0px 0px 2px black;
      box-shadow: 0px 0px 2px black;
      background-color: #092230;
      border: 1px solid #cce5f4;
      width: 200px; }
