- content_for :head do
  = stylesheet_link_tag "pw.footer"
%h2 Contact us.
%p
  You can contact us any of this ways:
%ul
  %li Sending us an email to #{mail_to 'fur@petswaiting.com', 'fur@petswaiting.com'}.
  %li At our #{link_to 'twitter profile', 'http://twitter.com/petswaiting'}.
  %li Visiting our #{link_to 'facebook page', 'http://www.facebook.com/pages/Pets-Waiting/129934550383230'}.